<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<title>NEWS HuB | News Repository</title>
<link rel="stylesheet"
	href="../resources/lib/bootstrap/css/bootstrap.min.css"
	th:href="@{/resources/lib/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
	th:href="@{http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css}" />

<link rel="stylesheet" href="../resources/css/header.css"
	th:href="@{/resources/css/header.css}" />
<link rel="stylesheet" href="../resources/css/footer.css"
	th:href="@{/resources/css/footer.css}" />
</head>

<body>
	<h1>Hello Spring MVC</h1>
</body>

</html>